# Data Science Tools and Ecosystem

In this notebook, we summarize tools and ecosystems of Data Science.

**Objectives:**
- List popular languages for Data Science.
- Enumerate commonly used libraries by Data Scientists.
- Identify Data Science Tools.
- Introduce examples of evaluating arithmetic expressions in Python.
- Convert units using mathematical expressions.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries by Data Scientists include:
1. NumPy
2. pandas
3. Matplotlib
4. TensorFlow

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |
| Google Colab             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author  
Mariana Puerta Cuartas